
.privacy-policy-data{
    margin-top: -3rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
    
}

.privacy-policy-heading{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    text-align: justify;
}

.privacy-policy-data h1{
    font-family: 'Montserrat';
font-size: 30px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.02em;
text-align: left;
color: black;

}

.privacy-policy-data h2{
    font-family: 'Montserrat';
font-size: 24px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.02em;
text-align: left;
color: black;

}

.privacy-policy-data p{
    font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
line-height: 35px;
text-align: justify;
color: #555555;

}

.privacy-policy-data ul{
    font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
line-height: 35px;
text-align: justify;
color: #555555;

}

@media screen and (max-width: 768px) {
    .privacy-policy-data{
        padding: 2rem;
        margin-top: 5rem;
    }
    .privacy-policy-heading{
        align-items: left;
    }
    .privacy-policy-data h1{
        font-size: 22px;
        line-height: 40px;
    }

    .privacy-policy-data h2{
        font-size: 18px;
        line-height: 40px;
    }

    .privacy-policy-data ul{
        font-size: 12px;
        line-height: 27px;
    }
    .privacy-policy-data p{
        font-size: 12px;
        line-height: 27px;
    }
    
}